@import './variables';
.button{
  border: none;
  outline: 0;
  cursor: pointer;
  font-family: $font-family;
  &__primary{
    background: $primary;
    color: $white;
    padding: 1.125rem;
    font-weight: bold;
    font-size: .875rem;
    border-radius: 2rem;
    text-align: center;
    transition: all .3s linear;
    &:hover{
      background-color: $primary-light;
      box-shadow: 1px 1px $primary, 2px 2px  $primary, 3px 3px  $primary,;
      transform: translateX(-3px);
    }
  }
  &__outline{
    color: $secondary;
    font-size: 1rem;
    background: transparent;
  }
  &__grayscale{
    background: $white;
    color: $grayscale-base;
    padding: 1.125rem;
    font-weight: 700;
    font-size: .875rem;
    border-radius: 2rem;
    text-align: center;
  }

}
