
// ========================================================================== 
// COMPONENT STUDENT STYLES
// ========================================================================== 
.students{
  @extend .flex;
  @extend .flex__jc-center;
  @extend .card;
  padding: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  &__data{
    @extend .flex;
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
    div{
      width: 30%;
      @extend .flex;
      flex-direction: column;
      color: $grayscale-base;
      text-align: center;
      @media (max-width: 600px) {
        width: 50%;
      }
      &:nth-child(1){
        p:nth-child(2){
          width: 40%;
        }
      }
      p:nth-child(1){
        font-size: 40px;
        font-weight: 600;
      }
      p:nth-child(2){
        font-size: .875rem;
      }
    }
  }
  hr{
    height: 6rem;
    border-left: .5px solid #eeeeee;
    margin: 2rem
    }
  &__img{
    @extend .flex;
    padding: .5rem;
    p{
      color: $grayscale-base;
      font-size: .875rem;
      margin-right: 1rem;
    }
    img{
      animation: infinite 2s linear mov;
    }
  }
  @media (max-width: 1024px) {
    hr{
      display: none;
    }
  }

}

// ========================================================================== 
// COMPONENT CONOCE COMO CREAR
// ========================================================================== 

.create{
  h2{
    font-size: 36px;
    color: #4A545E;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__text{
    h3{
      color: $grayscale-base;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: 400;
    }
    p{
      max-width: 363px;
      color: $grayscale-base;
      font-size: .875rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
