// ========================================================================== 
// COLORS
// ========================================================================== 
$primary: #354BD4;
$primary-light: #2E86DE;
$grayscale-base: #222F3E;
$grayscale-light: #8395A7;
$grayscale-dark: #0F0F0F;
$white: #ffffff;

// ==========================================================================
// Breakpoints
// ==========================================================================
$breakpoints: (
   sm  : 412px,
   md  : 768px,
   lg  : 992px,
   xl  : 1140px, 
);

$border: 1px solid #E5E5E5;

